body {
    background-color: rgb(252, 249, 246);
}
.bg-main {
    background-color: rgb(255, 194, 137);
}
.text-main {
    color: rgb(255, 194, 137);
}
.text-main-light {
    color: rgb(255, 163, 77)
};
.navbar-nav .dropdown-toggle::after {
    display: none;
}
.px-25 {
    padding-left: 0.85rem!important;
    padding-right: 0.85rem!important;
}
.form-control.search:focus {
    border: 1px solid #80808059!important;
    box-shadow: none;
}
.navbar-menu li a {
    font-weight: 500;
    color: #6C757D !important;
}
@media screen and (max-width: 991px) {
    ul.navbar-menu {
        overflow-x: scroll;
    }
}
/* Hide scrollbar for Chrome, Safari and Opera */
ul.navbar-menu::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
ul.navbar-menu {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.custom-shadow {
    box-shadow: 0rem .2rem .5rem rgba(0,0,0,.15)!important;
}
.text-main-hover:hover, .text-main-active {
    color: #ffc289 !important
}
.text-hover-black:hover {
    color: #626161e8!important;
    cursor: pointer;
}
.header-nav .navbar-nav .dropdown-menu {
    position: absolute;
}
.header-nav .dropdown-menu[data-bs-popper] {
    right: 0;
    left: auto;
}
.dropdown-toggle::after {
    display: none;
}
/* link card */
.link-title h3 a {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: inherit;
    text-decoration: none;
}
.gray-color {
    color: rgb(108, 117, 125)
}
.link-card {
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 15%)!important;
}
.link-card button:hover {
    color: #212529;
    background-color: #e2e6ea!important;
}
.link-card .btn-yellow:hover {
    color: white;
    background-color: rgb(255, 194, 137)!important;
}
ul.link-categories {
    list-style: none;
}

ul.link-categories li.a{
    text-decoration: none;
    text-transform: uppercase;
}
.link-categories li {
    font-size: 13px;
    background: white;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 500;
    cursor: pointer;
}
.link-categories li:hover {
    color: #fff;
    background-color: #6c757d;
}
.link-categories li.active {
    color: #fff;
    background-color: #6c757d;
}
.link-categories li a {
    color:rgb(108, 117, 125);
    text-decoration: none;
}
.link-categories li:hover a {
    color:white;
}
.link-categories li.active a {
    color: #fff;
}
button.filter:hover {
    background-color: rgb(243 183 128)!important;
}
.tools a {
    color: #808080c4;
    font-size: 0.7rem;
    background: #ededefe3;
    padding: 4px;
    border-radius: 3px;
    margin-right: 4px;
}
.tools a img {
    margin-bottom: 3.5px;
}
.my-input {
    width: 100%;
    background: rgb(237, 237, 239);
    font-weight: 500;
    border-radius:5px;
    border: 1px solid rgb(237, 237, 239);
    outline-color: #ededef;
    outline-width: 0;
    font-size: .9rem;
    font-weight: 400;
    padding: 5px;
}
.my-input:focus {
    border: 1px solid rgb(193, 193, 194);
}
.link-create .image-wrapper {
    width: 165px;
    border-style: dashed;
    border-width: 2px;
    border-color: gray;
    border-radius: 4px;
}
.photo-label {
    background: #6c6c6c;
    bottom: 0;
    left: 0;
    margin: 6px;
    width: calc(100% - 12px);
    border-radius: 4px;
    padding: 4px;
}
.link-create .image-wrapper .fa-image {
    font-size: 29px;
    color: #8080809e;
    margin-top: 30px;
}
.link-create label {
    font-size: 0.8rem;
    padding-bottom: 3px;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
button.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268!important;
    border-color: #545b62!important;
}
.like-btn.active {
    background-color: #ffc289!important;
    color: white;
}
.like-btn.active:hover {
    background-color: #f0b37a!important;
    color: white;
}