body {
    background-color: rgb(252, 249, 246);
}
.bg-main {
    background-color: rgb(255, 194, 137);;
}
.text-main {
    color: rgb(255, 194, 137);
}
.navbar-nav .dropdown-toggle::after {
    display: none;
}
.px-25 {
    padding-left: 0.85rem!important;
    padding-right: 0.85rem!important;
}
.form-control.search:focus {
    border: 1px solid #80808059!important;
    box-shadow: none;
}