{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}

    <div class="container">
    
        <div class="row mt-4 pt-4">
            <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-12">
                <div class="card text-center shadow">
                    <div class="card-body">
                        <img src="https://havola.uz/static/img/havola-logo.svg" class="mb-1" width="50px"/>
                        <p>Sizning elektron pochtangizga parolni tiklash uchun havola yuborildi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock  %}
