{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}

    <div class="container">
    
        <div class="row mt-4 pt-4">
            <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-12">
                <div class="card text-center shadow">
                    <div class="card-body">
                        <img src="https://havola.uz/static/img/havola-logo.svg" class="mb-1" width="50px"/>
                        <h5 class="card-title">Parolni tiklash</h5>
                        <small class="mb-3 d-block" style="line-heigth: 15px;">
                            Yangi parolni tiklash yo'riqnomasini olish uchun elektron pochta manzilini kiriting
                        </small>
                        <form action='' method='POST'>
                            
                            <div class="mb-3 text-start">
                                <div class="row mb-2">
                                    <div class="col-12">
                                        <label for="email" class="form-label">Email address</label>
                                        <input type="email" id="email" name="email" placeholder="name@example.com"
                                            class="form-control {% if form.email.errors %}is-invalid{% endif %}" 
                                            value="{{form.email.value|default:''}}" >
                                        
                                        {% if form.email.errors %}
                                            <div class="invalid-feedback">
                                                {% for error in form.email.errors %}
                                                    {{error}}    
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>    
                                </div>
                            </div>
            
                            {% csrf_token %}
                            <div class="text-center">
                                <button type='submit' 
                                    class="btn btn-warning text-white text-uppercae w-100 px-4 mb-2">Parolni tiklash</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock  %}
