{% extends 'base.html' %}

{% block content %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Ro'yxatdan o'tish</h5>
            
            <form action='' method='POST'>
                
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Elektron Pochta</label>
                    <div class="col-sm-10">
                        <input type="text" 
                            class="form-control-plaintext" id="staticEmail" 
                            value="{{form.email.value}}" name="email">
                    </div>
                </div>

                {% csrf_token %}
        
                <button type='submit' class="btn btn-warning text-white">Ro'yxatdan o'tish</button>
            
            </form>
        </div>
    </div>

{% endblock  %}
