{% extends 'base.html' %}


{% block content %}

<div class="container pt-4 link-create">

    <div class="row">
        <div class="col-8 offset-2">
            <p class="fs-3">Element qo'shish</p>
            <!--begin:: LINK FORM -->
            <form class="card link-card bg-white p-4" method="post" style="border-radius:6px;">
                <div class="d-flex" style="gap: 25px">
                    <div class="image-wrapper text-center position-relative">
                        <img src="" class="d-none"/>
                        <i class="fa-solid fa-image"></i>
                        <label for="uploadImage" class="position-absolute text-white photo-label">
                            <input type="file" name="photo" class="d-none" id="uploadImage"/>
                            Rasm yuklash
                        </label>
                        <button class="d-none">O'chirish</button>
                    </div>

                    <div class="inputs-wrapper w-100" style="">
                        <label class="mb-1">Nomi</label>
                        <input type="text" name="name" class="my-input mb-2"
                            value="{{form.name.value|default:''}}" required/>

                        <label class="mb-1">Url</label>
                        <input type="url" name="url" class="my-input"
                            value="{{form.url.value|default:''}}"/>
                    </div>
                </div>
            </form>
            <!--end:: LINK FORM -->
        </div>
    </div>

    <br>
    <br>
    <br>
</div>

{% endblock content %}

{% block js %}

<script type="text/javascript">
</script>
  
{% endblock js %}