{% extends 'base.html' %}


{% block content %}

<div class="container pt-4">

    <div class="row">
        <div class="col-8 offset-2">
            <ul class="link-categories d-flex flex-row flex-wrap px-3 justify-content-center" style="gap:5px">
                <li class="shadow active"><a>BARCHASI</a></li>
                <li class="shadow"><a>API</a></li>
                <li class="shadow"><a>CMS</a></li>
                <li class="shadow"> DASTURLASH TILI</li>
                <li class="shadow">DEVOPS</li>
                <li class="shadow"> DIZAYN</li>
                <li class="shadow">FREYMVORK</li>
                <li class="shadow">GUI</li>
                <li class="shadow">HOSTING / SERVER</li>
                <li class="shadow">IDE</li>
                <li class="shadow">IZLASH</li>
                <li class="shadow">KOD MUHARRIRI</li>
                <li class="shadow">KUTUBXONA</li>
                <li class="shadow">LOYIHANI BOSHQARISH</li>
                <li class="shadow">MA'LUMOTLAR OMBORI</li>
                <li class="shadow">MANBA KODI</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2 px-4">
            <div class="link-card card border-0 d-flex flex-row p-1" style="border-radius:7px;">
                <div class="image-wrapper m-2 overflow-hidden" style="width:75px;height:75px;">
                    <a src="">
                        <img class="w-100" src="https://havola.uz/uploads/logos/90/gewzvppa.png"/>
                    </a>    
                </div>
                
                <div class="content-wrapper my-2 px-1 d-flex flex-row" style="width: calc(100% - 80px);">
                    <div class="content w-100">
                        <div class="link-title">
                            <h3 class="mb-0">
                                <a href="" class="text-main-hover">3D Grafika</a>
                            </h3>
                        </div>
                        
                        <div class="link-type">
                            <a class="mb-0 text-decoration-none text-hover-black" style="color: #808080c4;">Dizayn</a>
                        </div>
                        
                        <div class="link-short-description">
                            <p class='mb-0'>Kompyuter grafikasi yordamida obyektning 3 o'lchamli tasvirini yaratish</p>
                        </div>
                    
                        <div class="link-buttons pt-2 d-flex pb-1" style="gap: .7rem;">
                            <button class="shadow border-0 bg-white gray-color" style="border-radius:4px;"><i class="fa-solid fa-graduation-cap"></i></button>
                            <button class="shadow border-0 bg-white gray-color" style="border-radius:4px;"><i class="fa-solid fa-book-open"></i></button>
                            <button class="shadow border-0 bg-white gray-color" style="border-radius:4px;"><i class="fa-solid fa-star"></i></button>
                            <a class="shadow border-0 bg-white ms-2 px-2 text-main-light btn-yellow text-decoration-none"
                                style="border-radius:4px;cursor:pointer;">
                                <i class="fa-solid fa-up-right-from-square"></i> Havola
                            </a>
                        </div>
                    </div>
                    
                    <div class="like-wrapper d-flex flex-column align-items-center my-2 ms-4 me-2">
                        
                        <button class="shadow border-0 bg-white gray-color like-btn" style="border-radius:4px;">
                            <i class="fa-solid fa-chevron-up"></i>
                        </button>

                        <p class="link-rate my-1">2</p>
                        
                        <button class="shadow border-0 bg-white gray-color like-btn" style="border-radius:4px;">
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-8 offset-2 px-4">
            <div class="link-card card border-0 d-flex flex-row p-1" style="border-radius:7px;">
                <div class="image-wrapper m-2 overflow-hidden" style="width:75px;height:75px;">
                    <img class="w-100" src="https://havola.uz/uploads/logos/90/gewzvppa.png"/>
                </div>
                
                <div class="content-wrapper my-2 px-1 d-flex flex-row" style="width: calc(100% - 80px);">
                    <div class="content w-100">
                        <div class="link-title">
                            <h3 class="mb-0">
                                <a href="" class="text-main-hover">3D Grafika</a>
                            </h3>
                        </div>
                        
                        <div class="link-type">
                            <a class="mb-0 text-decoration-none text-hover-black" style="color: #808080c4;">Dizayn</a>
                        </div>
                        
                        <div class="link-short-description">
                            <p class='mb-0'>Kompyuter grafikasi yordamida obyektning 3 o'lchamli tasvirini yaratish</p>
                        </div>
                    
                        <div class="link-buttons pt-2 d-flex pb-1" style="gap: .7rem;">
                            <button class="shadow border-0 bg-white gray-color" style="border-radius:4px;"><i class="fa-solid fa-graduation-cap"></i></button>
                            <button class="shadow border-0 bg-white gray-color" style="border-radius:4px;"><i class="fa-solid fa-book-open"></i></button>
                            <button class="shadow border-0 bg-white gray-color" style="border-radius:4px;"><i class="fa-solid fa-star"></i></button>
                            <button class="shadow border-0 bg-white ms-2 text-main-light" style="border-radius:4px;"><i class="fa-solid fa-up-right-from-square"></i> Havola</button>
                        </div>
                    </div>
                    
                    <div class="like-wrapper d-flex flex-column align-items-center my-2 ms-4 me-2">
                        
                        <button class="shadow border-0 bg-white gray-color like-btn" style="border-radius:4px;">
                            <i class="fa-solid fa-chevron-up"></i>
                        </button>

                        <p class="link-rate my-1">2</p>
                        
                        <button class="shadow border-0 bg-white gray-color like-btn" style="border-radius:4px;">
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</dvi>



{% endblock content %}
