<nav class="navbar navbar-expand-lg navbar-light bg-white header-nav fixed-top">
  <div class="container">
    <a class="navbar-brand text-uppercase d-flex align-items-center justify-content-between"
        href="#" style="gap:6px;">
        <img src="https://havola.uz/static/img/havola-logo.svg" width="20" height="20"
            class="d-inline-block align-text-top">
        Havola
    </a>
    <form class="d-none d-sm-block" style="width: calc(90% - 202px);">
      <div class="input-group" style="position:relative;">
        <span class="input-group-text border-0" style="position:absolute;left:0;top:5px;z-index: 9999;">
          <i class="fa-solid fa-magnifying-glass" style="color: #21252991;"></i>
        </span>
        <input class="form-control me-2 border-0 search" type="search"
          style="width:54vw;background:rgb(237, 237, 239);font-weight:500;padding-left:41px;
            border-top-left-radius:5px; border-bottom-left-radius:5px;"
          placeholder="Izlash..." aria-label="Search">
      </div>
    </form>
    <div class="">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-row" style="gap:7px;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle bg-main plus text-white custom-shadow px-25 rounded" href="#" 
              id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-plus"></i>
          </a>
          <ul class="dropdown-menu border-0 custom-shadow" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Ma'lumot qo'shish</a></li>
            <li><a class="dropdown-item" href="#">Element qo'shish</a></li>
            <li><a class="dropdown-item" href="#">Muassasa qo'shish</a></li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle bg-white custom-shadow px-25 rounded" href="#" 
            id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
          </a>
          <ul class="dropdown-menu border-0 custom-shadow" aria-labelledby="navbarDropdown2">
            <li><a class="dropdown-item" href="#">Profil</a></li>
            <li><a class="dropdown-item" href="#">Sozlamalar</a></li>
            <li><a class="dropdown-item" href="#">Chiqish</a></li>
          </ul>
        </li>
        
      </ul>
    </div>
  </div>
  <div class="container d-sm-none">
    <form class="w-100">
      <div class="input-group" style="position:relative;">
        <span class="input-group-text border-0" style="position:absolute;left:0;top:5px;z-index: 9999;">
          <i class="fa-solid fa-magnifying-glass" style="color: #21252991;"></i>
        </span>
        <input class="form-control border-0 search" type="search"
          style="width:54vw;background:rgb(237, 237, 239);font-weight:500;padding-left:41px;
            border-radius:5px; border: 1px solid rgb(237, 237, 239);"
          placeholder="Izlash..." aria-label="Search">
      </div>
    </form>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-white pt-0" style="margin-top:52px">
  <div class="container">
    <ul class="navbar-nav flex-row justify-content-start justify-content-lg-around w-100 navbar-menu" style="gap:20px;">
        <li class="nav-item">
          <a class="nav-link text-main-hover" href="#">
              SOHALAR
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-main-hover" href="#">
            VOSITALAR
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-main-hover" href="#">
            MA'LUMOTLAR
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-main-hover" href="#">
            MANBALAR
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-main-hover" href="#">
            LOYIHALAR
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-main-hover" href="#">
            MUASSASALAR
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-main-hover" href="#">
            FOYDALANUVCHILAR
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>