<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
      <a class="navbar-brand text-uppercase d-flex align-items-center justify-content-between"
          href="#" style="gap:6px;">
          <img src="https://havola.uz/static/img/havola-logo.svg" width="20" height="20"
              class="d-inline-block align-text-top">
          Havola
      </a>
      <form class="d-flex">
        <div class="input-group" style="position:relative;">
          <span class="input-group-text border-0" style="position:absolute;left:0;top:5px;z-index: 9999;">
            <i class="fa-solid fa-magnifying-glass" style="color: #21252991;"></i>
          </span>
          <input class="form-control me-2 border-0 search" type="search"
            style="width:54vw;background:rgb(237, 237, 239);font-weight:500;padding-left:41px;
              border-top-left-radius:5px; border-bottom-left-radius:5px;"
            placeholder="Izlash..." aria-label="Search">
        </div>
      </form>
      <div class="">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="gap:7px;">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle bg-main plus text-white shadow px-25 rounded" href="#" 
                id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-plus"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Ma'lumot qo'shish</a></li>
              <li><a class="dropdown-item" href="#">Element qo'shish</a></li>
              <li><a class="dropdown-item" href="#">Muassasa qo'shish</a></li>
            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle bg-white shadow px-25 rounded" href="#" 
              id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <li><a class="dropdown-item" href="#">Ma'lumot qo'shish</a></li>
              <li><a class="dropdown-item" href="#">Element qo'shish</a></li>
              <li><a class="dropdown-item" href="#">Muassasa qo'shish</a></li>
            </ul>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
</nav>